<div class="merch-page">
  <label for="name">Item name: </label>
  <input id="name" [(ngModel)]="merchItem.name" placeholder="name"/>
  <label for="name">Image Paths: </label>
  <input id="name" [(ngModel)]="merchItem.imgPaths" placeholder="imgPaths"/>
  <label for="name">Price: </label>
  <input id="name" [(ngModel)]="merchItem.price" placeholder="price"/>
  <label for="name">Description: </label>
  <input id="name" [(ngModel)]="merchItem.description" placeholder="description"/>
  <button type="button" class="add-button" (click)="add()">
    Add
  </button>
</div>
