<!-- Navigation-->
DEVELOPMENT SITE
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold"><img src="assets/img/logo.png" width="100%"/></h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5"></p>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">JDM Car Club</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">
                    This club is about friendships, cars, and a good time. Virginia/Ohio/Tennessee teamed up to have an all JDM car club that is drama free has built a family like no other.
                </p>
                <p class="text-white-75 mb-4">
                    Requirements: some modifications, active and make it to the few mandatory meets, and make it through the recruiting phase. MUST BE AT LEAST 18‼️
                </p>
                <p class="text-white-75 mb-4">
                    Recruiting phase: this is a 4 week phase that we will see how active you are. We want to keep everyone in the family on their feet and excited about everything coming up!
                </p>
                <p class="text-white-75 mb-4">
                    Banners: are available to purchase with other merch after prospect phase is completed. S, M, and L, available in any color!
                </p>
                <p class="text-white-75 mb-4">
                    If you have any issues please reach out to Founder @Brittanylenay, or Club Prez @1qwik_fc1.

All you have to do is download ‘groupme’, signup, let us know your phone number so we can add you to the chats. Welcome to the club!
                </p>
                    <a class="btn btn-light btn-xl" href="#join">Join</a>
            </div>
        </div>
    </div>
</section>
<!-- Services-->
<section class="page-section" id="events">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Events</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5"><a href="https://gohday.com/">
                    <div class="mb-2"><i class="bi-calendar-date fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">H Day 2022</h3></a>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5"><a href="https://www.instagram.com/noblesyndicate.cc">
                    <div class="mb-2"><i class="bi-flag fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Cars and Cofee & Pale Horse</h3></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5"><a href="https://www.facebook.com/65rosesVA/">
                    <div class="mb-2"><i class="bi-sunglasses fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">65 Roses</h3></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2">
                        <a href="https://www.hyper-fest.com/">
                        <i class="bi-camera fs-1 text-primary"></i>
                    <h3 class="h4 mb-2">Hyperfest</h3>
                </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- Portfolio-->
<div id="instagram">
    <!-- LightWidget WIDGET -->
    <iframe src="https://cdn.lightwidget.com/widgets/a1937ca3f112589a9f9345dc571e2b7c.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
</div>
<!-- Contact -->
<section class="page-section" id="join">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Let's Get In Touch!</h2>
                <hr class="divider" />
                <p class="text-muted mb-5">Interested in joining? Send us a message on our instagram page! </p>
                <a class="btn btn-primary btn-xl" href="https://www.instagram.com/noblesyndicate.cc">Instagram</a>
                <a class="btn btn-primary btn-xl" href="https://www.facebook.com/groups/1125774731548276/">Facebook</a>
            </div>
        </div>
</section>
